<!-- snippets/featured-products.liquid -->
<!-- HOME PRODUCTS -->
  <div class="homeProduct">
    <div id="product1"><a href="#" id="imgProduct1"><div id="divProduct1"><h2>KITCHEN</h2><hr class="hrProduct"><div class="btnProduct">SHOP COLECTION</div></div>{{ 'p1.png' | asset_url | img_tag }}</a></div>
    <div id="product2"><a href="#" id="imgProduct2"><div id="divProduct2"><h2>KITCHEN</h2><hr class="hrProduct"><div class="btnProduct">SHOP COLECTION</div></div>{{ '02.png' | asset_url | img_tag }}</a></div>
    <div id="product3"><a href="#" id="imgProduct3"><div id="divProduct3"><h2>KITCHEN</h2><hr class="hrProduct"><div class="btnProduct">SHOP COLECTION</div></div>{{ 'p3.png' | asset_url | img_tag }}</a></div>
    <div id="product4"><a href="#" id="imgProduct4"><div id="divProduct4"><h2>KITCHEN</h2><hr class="hrProduct"><div class="btnProduct">SHOP COLECTION</div></div>{{ 'p4.png' | asset_url | img_tag }}</a></div>
    <div id="product5"><a href="#" id="imgProduct5"><div id="divProduct5"><h2>KITCHEN</h2><hr class="hrProduct"><div class="btnProduct">SHOP COLECTION</div></div>{{ 'p5.png' | asset_url | img_tag }}</a></div>
  </div>
</div>